<section class="video-section">

	<div class="uk-inline" tabindex="0">
		<img src="{{ _x('https://picsum.photos/800/400?random=5', 'Image link', 'video-popup')|e('esc_url') }}" alt="{{ _x('Alt text', 'Image alt text', 'video-popup')|e('esc_html') }}" width="800" height="400">
		<div class="uk-overlay-primary uk-position-cover">
			<div class="uk-position-center">
				<a href="#modal-media-youtube" class="uk-inline-clip uk-transition-toggle" tabindex="0" uk-toggle>
					<svg class="uk-transition-scale-up uk-transition-opaque" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="none" stroke="currentColor" viewbox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle">
						<circle cx="12" cy="12" r="10"></circle>
						<polygon points="10 8 16 12 10 16 10 8"></polygon>
					</svg>
				</a>
			</div>
		</div>
	</div>

	<div id="modal-media-youtube" class="uk-flex-top" uk-modal>
		<div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
			<button class="uk-modal-close-outside" type="button" uk-close></button>
			<iframe src="{{ _x('https://www.youtube.com/embed/Fg2CvKG39Rc', 'Popup embed link', 'video-popup')|e('esc_html') }}" width="1920" height="900" frameborder="0" uk-video uk-responsive></iframe>
		</div>
	</div>

</section>