<section class="uk-background-primary uk-text-center">
  <div class="uk-inline uk-dark">
    <img 
    data-src="{{ _x('https://picsum.photos/1920/500?random=1', 'Video popup section background image url', 'video-popup')|e('esc_url') }}" 
    alt="{{ _x('Alt text', 'Video popup section background image alt text', 'video-popup')|e('esc_html') }}" 
    width="1920" height="500" uk-img>
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        <a href="#modal-media-youtube" uk-toggle class="video-container__play cc-fade-in-up cc-animate-init -in cc-animate-complete">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <polygon points="10 8 16 12 10 16 10 8"></polygon>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div id="modal-media-youtube" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <iframe 
      src="{{ _x('https://www.youtube.com/embed/Fg2CvKG39Rc', 'Video popup section iframe embed url', 'video-popup')|e('esc_html') }}" 
      width="1920" height="1080" frameborder="0" 
      uk-video uk-responsive>
      </iframe>
    </div>
  </div>
</section>